<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="ar.importaciones" version="1.0.5" >
    <name>AR Import</name>
    <description>Tus Importaciones Seguras.</description>
    <author href="http://mindtec.com.mx/" email="contacto@mindtec.com.mx">Mindtec Software Revolution</author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="26" />
	
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-media-capture" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
	
	<feature name="http://api.phonegap.com/1.0/network" />
	<access origin="*" onlyInBrowser="true" />
	
	<icon src="img/icon.png" />
    <platform name="android">
		<preference name="orientation" value="portrait" />
	            <plugin name="cordova-plugin-camera" source="npm">
            <variable name="CAMERA_USAGE_DESCRIPTION" value="Se requiere el permiso de la camara para tomar fotografias de los productos a importar." />
            <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Se utilizara la libreria multimedia para seleccionar las fotografias de los productos a importar." />
        </plugin>
        <config-file overwrite="true" parent="NSCameraUsageDescription" platform="ios">
            <string>Se requiere el permiso de la camara para tomar fotografias de los productos a importar.</string>
        </config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>Se requiere el permiso de la camara para tomar fotografias de los productos a importar.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>Se utilizara la libreria multimedia para seleccionar las fotografias de los productos a importar.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>e utilizara la libreria multimedia para seleccionar las fotografias de los productos a importar.</string>
        </edit-config>
        <!--<icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="www/res/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="www/res/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />-->
    </platform>
    <allow-navigation href="*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
	<access origin="whatsapp:*" launch-external="yes" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	
</widget>
